<div class="container">
  <label for="password">Enter your password</label>
  <input
    type="password"
    class="container__form-control"
    id="password"
    placeholder="Enter password..."
    [(ngModel)]="password"
    (keyup)="checkStrength()"
  >

  <div class="strength-meter">
    <div class="strength-meter__section" [style.background-color]="strengthColors[0]"></div>
    <div class="strength-meter__section" [style.background-color]="strengthColors[1]"></div>
    <div class="strength-meter__section" [style.background-color]="strengthColors[2]"></div>
  </div>

  <p *ngIf="strength !== 'empty'">Strength: <b>{{ strength }}</b></p>

  <div class="container__text">
    <div *ngIf="feedback.length > 0">
      <ul>
        <li *ngFor="let message of feedback">{{ message }}</li>
      </ul>
    </div>
  </div>
</div>
