.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: auto;

  background-color: white;
  border-radius: 10px;

  margin: 20px auto;
  padding: 20px;

  align-items: center;
  justify-content: center;

  &__form-control {
    height: 30px;
    width: 250px;

    padding: 5px;

    border-radius: 5px;
    border: 1px solid black;

    outline: none;
  }

  &__text {
    color: gray;
    font-size: 1rem;
  }
}

.container label, p {
  font-weight: 500;
  font-size: 1.5rem;
}

.strength-meter {
  display: flex;

  width: 50%;
  height: 10px;
  gap: 5px;

  &__section {
    flex: 1;
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .container {
    gap: 10px;
    height: auto;
    width: auto;

    margin: 20px 10px;

    &__form-control {
      height: 40px;
      width: 50%;
    }

    &__text {
      font-size: 0.8rem;
    }
  }

  .container label, p {
    font-size: 1.2rem;
  }

  .strength-meter {
    width: 50%;
  }
}
